<app-navbar></app-navbar>
<div style="padding-top: 20px; padding-left: 20px;">

    <div>
        <button type="button" routerLink="/product-form" class="btn btn-outline-success" style="margin-bottom: 10px;">Add Product</button>
    </div>

    <div>
        <div class="card" style="width: 18rem; margin-top: 10px;">
            <div class="card-body">
                <h5 class="card-title">Detergente Tide</h5>
                <h6 class="card-subtitle mb-2 text-muted">$180</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="d-flex gap-2">
					<button type="button" class="btn btn-success">Edit</button>
					<button type="button" class="btn btn-danger">Delete</button>
				
                </div>
            </div>
        </div>
    </div>

</div>