<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" routerLink="landing">
        <img
          src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
          height="16"
          alt=""
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
      <div class="d-flex align-items-center">
        <a routerLink="login">
          <button type="button" class="btn btn-dark" > Sign In</button>
        </a>
      </div>
      </div>
  </nav>
  <!-- Navbar -->

